// Keep in sync with JS
@imageHeight: 250px;

.carousel {
  position: absolute;
  left: 685px;
  top: 300px;
  width: @imageHeight*1.5;
  height: @imageHeight;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  display: none;

  .carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  img {
    position: absolute;
    top: 0;
    left: 50%;
    height: @imageHeight;
    transition: opacity 1s;
  }

  .carousel-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    box-shadow: 0 0 30px 15px rgba(255,255,255,0.25);
  }
}

@media only screen and (min-width: 1100px) {
  .menu-explanation-previous-work {
    left: -215px;
    width: 800px !important;
  }

  .carousel {
    display: block;
  }
}
