@import '../common/mixins.less';

@itemAnimationTime: 0.2s;
@itemSelectMiddleTime: 0.7s;
@itemDeselectMiddleTime: 1.0s;
@menuMoveTime: 1.0s;
@contentFadeInTime: 0.7s;

@itemPaddingHorizontal: 5px;

/////

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/////

@sideMargin: 150px;

html, body {
  height: 100%;
}

body {
  color: #eee;
  overflow-y: scroll;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0px 0px 1px black;
  font-weight: 300;
}

p {
  padding: 0 1em;
  margin: 1em 0;
}

a {
  color: white;
  font-weight: 400;

  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
  color: white;
}

em {
  font-style: italic;
}

// Background

.background {
  position: fixed;
  top: -100px;
  left: 0;
  right: -200px;
  z-index: 10;

  background: url(background.jpg) black;
  background-size: 100% auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: repeat-y;
}

.background-animating {
  .transition(all @menuMoveTime); // transform
}

// Menu container

.menu-container {
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 20;
  .transform(translate3d(0,0,1px));
  height: 101%; // Force scrollbar to prevent bug where moving back to a page with a certain scroll position
                // doesn't work when the menu cannot be scrolled
}

.menu-container-animated {
  .transition(all @menuMoveTime); // transform
}

.menu-container-move-left {
  .transform(translate3d(-98%,0,1px));
}

// Menu

.menu {
  width: 660px;
  margin: 0 auto;
}

.menu-title {
  display: block;
  text-decoration: none;
  color: white;

  font-family: "Londrina Solid", sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  .transition(all @itemAnimationTime);
  cursor: pointer;
  .transform(translateZ(1px) scale(1) rotate(0));

  &:hover {
    color: white;
    .transform(translateZ(1px) scale(1.1) rotate(-1deg));
  }
}

.floating-planet() {
  from {.transform(translate(0, 0px) rotate(20deg));}
  50% { .transform(translate(0, 5px) rotate(20deg));}
  to {  .transform(translate(0, 0px) rotate(20deg));}
}

@-webkit-keyframes floating-planet { .floating-planet(); }
@-moz-keyframes floating-planet { .floating-planet(); }
@-ms-keyframes floating-planet { .floating-planet(); }
@-o-keyframes floating-planet { .floating-planet(); }
@keyframes floating-planet { .floating-planet(); }

.menu-planet {
  display: block;
  margin: 20px auto;
  .animation(floating-planet 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite); /* easeInOutSine */
}

.menu-planet-subtext {
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 25px;
  font-weight: 200;
}

/// Menu explanations

.menu-explanation {
  padding: 0 30px 30px;
}

.menu-explanation-header {
  font-family: "Londrina Solid", sans-serif;
  font-size: 3.5em;
  text-align: center;
  color: white;

  .transform(scale(0.9) translateZ(1px));
  .transition(all @itemAnimationTime);
}

.menu-explanation-content {
  background: rgba(60,60,60,0.8);
  display: inline-block; // new block formatting context
  width: 100%;
}

.menu-explanation:hover .menu-explanation-header {
  .transform(scale(1) translateZ(1px));
}

// Item
.item {
  display: inline-block;
  background-color: #333;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  padding: 0 @itemPaddingHorizontal;
  overflow: hidden;
  .transform(translateZ(3px));
  outline: 1px solid transparent; // http://stackoverflow.com/questions/9235342/3d-css-transform-jagged-edges-in-firefox
  text-decoration: none;
  color: white;

  .transition(background-color @itemAnimationTime);
}

.item-hidden {
  visibility: hidden;
}

@iconMargin: 6px;
.item-icon {
  margin-right: @iconMargin;
}

.item-type-document {
  background-color: hsl(220, 60%, 40%);

  .item-animated-inner-description { margin-left: 11px + @iconMargin; }
}

.item-type-website {
  background-color: hsl(10, 60%, 40%);

  .item-animated-inner-description { margin-left: 17px + @iconMargin; }
}

.item-type-repository {
  background-color: hsl(110, 60%, 40%);

  .item-animated-inner-description { margin-left: 14px + @iconMargin; }
}

.item-type-music {
  background-color: hsl(270, 60%, 40%);

  .item-animated-inner-description { margin-left: 14px + @iconMargin; }
}

.icon-desktop {
  position: relative;
  top: 1px;
}

// Item animated

.menu-container:not(.menu-container-animated) .item:hover,
.item-animated-active {
  &.item-type-document {
    background-color: hsl(220, 60%, 50%);
  }

  &.item-type-website {
    background-color: hsl(10, 60%, 50%);
  }

  &.item-type-repository {
    background-color: hsl(110, 60%, 50%);
  }

  &.item-type-music {
    background-color: hsl(270, 60%, 50%);
  }
}

.item-animated {
  z-index: 40;
  .transform(translateZ(3px));

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 66px;
  padding: 5px 60px;
  line-height: 1.8em;

  display: none;
}

.item-animated-select-start {
  display: block;
  position: fixed;
  height: 20px;
  line-height: 20px;
  padding: 0 @itemPaddingHorizontal;

  .item-animated-back, .item-animated-inner-description, .item-animated-inner-time {
    opacity: 0;
  }
}

.item-animated-select-middle {
  display: block;
  position: fixed;

  // left, right, top, height, padding, line-height
  .transition(all @itemSelectMiddleTime cubic-bezier(0.175, 0.885, 0.320, 1.275)) !important; /* easeOutBack */

  .item-animated-back, .item-animated-inner-description, .item-animated-inner-time {
    .transition(opacity @itemSelectMiddleTime);
  }
}

.item-animated-select-end {
  display: block;
}

.item-animated-deselect-start {
  display: block;
  position: fixed;
}

.item-animated-deselect-middle {
  display: block;
  position: fixed;
  height: 20px;
  line-height: 20px;
  padding: 0 @itemPaddingHorizontal;
  .transition(all @itemDeselectMiddleTime);

  .item-animated-back, .item-animated-inner-description, .item-animated-inner-time {
    opacity: 0;
    .transition(opacity @itemDeselectMiddleTime/2);
  }
}

// Item animated inner
.item-animated-back {
  position: absolute;
  top: 5px;
  left: 10px;
}

.item-animated-inner {
  max-width: 730px;
  margin: 0 auto;
}

.item-animated-inner-title {
  color: white;
  font-weight: 400;
}

.item-animated-inner-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-animated-inner-time {
  float: right;
}

// Content

.content-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  bottom: 0;
  z-index: 30;
  .transform(translate3d(0, 0, 1px));
  visibility: hidden;
}

.content-container-fixed {
  position: fixed;
}

.content-container-move-right {
  .transition(all @menuMoveTime); // transform
  .transform(translate3d(100%, 0, 1px));
}

iframe.content-iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0;
}

.content-container-visible iframe.content-iframe {
  opacity: 1;
}

.content-container-animated iframe.content-iframe {
  .transition(opacity @contentFadeInTime ease);
}

// Body loading
.body-loading {
  .content-container, .selected-item-container, .menu-container {
    visibility: hidden;
  }
}


/// Social icons

.menu-social-container {
  position: relative;
  padding: 50px;
  text-align: right;
  margin: 15px 0 5px;
}

.menu-social {
  position: relative;
  display: inline-block;
  line-height: 24px;
  .transform(rotate(1deg) translateZ(1px));
}

.menu-social-item {
  display: inline-block;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  a {
    font-size: 24px;
    padding: 5px;
    color: #ccc;
    background: #333;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 35px;
    outline: 1px solid transparent; // http://stackoverflow.com/questions/9235342/3d-css-transform-jagged-edges-in-firefox

    .transition(all @itemAnimationTime); // color, background

    &:hover {
      color: white;
      background: #555;
    }

    i {
      vertical-align: middle;
    }
  }
}

.menu-social-header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -35px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  color: white;

  .transform(rotate(0deg) translateZ(1px) scale(1));
  .transition(all @itemAnimationTime);
}

.menu-social:hover .menu-social-header {
  .transform(rotate(-1deg) translateZ(1px) scale(1.2));
}

.menu-social:hover .menu-social-header:hover {
  .transform(rotate(0deg) translateZ(1px) scale(1));
}

.floating-satellite() {
  from {.transform(translate3d(0, 0px, 1px));}
  50% { .transform(translate3d(0, 5px, 1px));}
  to {  .transform(translate3d(0, 0px, 1px));}
}

@-webkit-keyframes floating-satellite { .floating-satellite(); }
@-moz-keyframes floating-satellite { .floating-satellite(); }
@-ms-keyframes floating-satellite { .floating-satellite(); }
@-o-keyframes floating-satellite { .floating-satellite(); }
@keyframes floating-satellite { .floating-satellite(); }

.menu-social-satellite-container {
  position: absolute;
  left: 70px;
  top: -20px;
  width: 136px;
  height: 136px;

  .animation(floating-satellite 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite); /* easeInOutSine */
}

.rotating-satellite() {
  from {.transform(rotate(-20deg));}
  50% { .transform(rotate(10deg));}
  to {  .transform(rotate(-20deg));}
}

@-webkit-keyframes rotating-satellite { .rotating-satellite(); }
@-moz-keyframes rotating-satellite { .rotating-satellite(); }
@-ms-keyframes rotating-satellite { .rotating-satellite(); }
@-o-keyframes rotating-satellite { .rotating-satellite(); }
@keyframes rotating-satellite { .rotating-satellite(); }

.menu-social-satellite {
  position: absolute;
  left: 0;
  top: 0;
  width: 136px;
  height: 136px;
  background: url(satellite.png);

  .animation(rotating-satellite 60s ease infinite);
}

.rotating-satellite-dish() {
  from {.transform(rotate(50deg));}
  50% { .transform(rotate(15deg));}
  to {  .transform(rotate(50deg));}
}

@-webkit-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-moz-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-ms-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-o-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@keyframes rotating-satellite-dish { .rotating-satellite-dish(); }


.menu-social-satellite-dish {
  position: absolute;
  left: 68px;
  top: 55px;
  width: 60px;
  height: 60px;
  background: url(dish.png);

  .animation(rotating-satellite-dish 20s linear infinite);
}











/// OLD ///


// http://www.shutterstock.com/pic-61473358/stock-vector-space-ufo-and-aliens-icons-set.html?src=GgYPkTXprvcSojMaB0WlyA-1-13
// http://www.shutterstock.com/pic-100674580/stock-vector-space-icon-set.html?src=GgYPkTXprvcSojMaB0WlyA-1-0
// http://www.shutterstock.com/pic-56676043/stock-vector-set-of-vector-icons-air-transport-flying-machines-and-space.html?src=GgYPkTXprvcSojMaB0WlyA-1-10
