@import '../common/mixins.less';

@itemAnimationTime: 0.5s;
@itemSelectMiddleTime: 0.7s;
@itemDeselectMiddleTime: 1.0s;
@menuMoveTime: 1.0s;
@contentFadeInDelay: 0.8s;
@contentFadeInTime: 0.7s;

/////

* {
  box-sizing: border-box;
}

/////

@sideMargin: 150px;

html, body {
  height: 100%;
}

body {
  color: white;
  overflow-y: scroll;
}

// Background

.background {
  position: fixed;
  top: -100px;
  left: 0;
  right: -200px;
  z-index: 10;

  background: url(background.jpg) black;
  background-size: 100% auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: repeat-y;
}

.background-animating {
  .transition(all @menuMoveTime); // transform
}

// Menu container

.menu-container {
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 20;
  .transform(translate3d(0,0,1px));
  height: 101%; // Force scrollbar to prevent bug where moving back to a page with a certain scroll position
                // doesn't work when the menu cannot be scrolled
}

.menu-container-animated {
  .transition(all @menuMoveTime); // transform
}

.menu-container-move-left {
  .transform(translate3d(-98%,0,1px));
}

// Menu

.menu {
  width: 700px;
  margin: 0 auto;
}

.menu-title {
  display: block;
  color: white;
  text-decoration: none;

  font-family: "Londrina Solid", sans-serif;
  font-size: 3.5em;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  .transition(all 0.3s);
  cursor: pointer;
  .transform(translateZ(1px) scale(1) rotate(0));


  &:hover {
    .transform(translateZ(1px) scale(1.1) rotate(-1deg));
  }
}

.menu-subtitle {
  font-family: 'Ruthie', cursive;
  font-size: 2.5em;
  text-align: center;
}

.floating-planet() {
  from {.transform(translate(0, 0px) rotate(20deg));}
  50% { .transform(translate(0, 5px) rotate(20deg));}
  to {  .transform(translate(0, 0px) rotate(20deg));}
}

@-webkit-keyframes floating-planet { .floating-planet(); }
@-moz-keyframes floating-planet { .floating-planet(); }
@-ms-keyframes floating-planet { .floating-planet(); }
@-o-keyframes floating-planet { .floating-planet(); }
@keyframes floating-planet { .floating-planet(); }

.menu-planet {
  display: block;
  margin: 20px auto 30px;
  .animation(floating-planet 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite); /* easeInOutSine */
}

.menu-list {
  padding-bottom: 30px;
}

.menu-list-header {
  font-family: "Londrina Solid", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5px;
  margin-left: @sideMargin;
  .transform(rotate(1deg));
}

.menu-group {
  position: relative;
  visibility: hidden; // Fixes a bug in Firefox where the menu-group would incorrectly be hoverable
}

@menuGroupHeaderFontSize: 1.5em;
@menuGroupHeaderTransform: rotate(-4deg) translateZ(1px);
.menu-group-header {
  font-family: "Londrina Solid", sans-serif;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: @sideMargin;
  height: 1em;
  line-height: 1;
  visibility: visible;
  font-size: @menuGroupHeaderFontSize;
  .transform(@menuGroupHeaderTransform);

  .transition(all @itemAnimationTime);
}

.menu-group:hover .menu-group-header {
  font-size: 2.0em;
  .transform(rotate(-1deg) translateZ(1px));
}

.menu-group:hover .menu-group-header:hover {
  font-size: @menuGroupHeaderFontSize;
  .transform(@menuGroupHeaderTransform);
}

.menu-item-container {
  box-sizing: content-box;
  position: relative;
  height: 36px;
  margin-left: @sideMargin;
  visibility: visible;
  .transition(all @itemAnimationTime);

  .transform(rotate(1deg) translateZ(1px));

  cursor: pointer;
  border-top: 2px solid black;

  &:nth-child(2) { // read as: first child, because menu-group-header is actually always first
    border-top: 2px solid transparent;
  }

  &:last-child {
    border-bottom: 4px solid transparent;
  }
}

.menu-item-container-selected {
  height: 65px;
  .transition(all 0.5s);
}

// Item

.item {
  display: inline-block;
  position: absolute;
  background-color: #333;
  color: #ddd;
  height: 100%;
  line-height: 20px;
  font-family: "Marvel", sans-serif;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  .transform(translateZ(3px));
  outline: 1px solid transparent; // http://stackoverflow.com/questions/9235342/3d-css-transform-jagged-edges-in-firefox

  .transition(background-color @itemAnimationTime);
}

.item-back {
  position: absolute;
  left: 10px;
  top: 9px;
  opacity: 0;
  .transition(opacity 1.4s);

  color: #ddd;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.item-inner {
  position: relative;
  max-width: 730px;
  margin: 0 auto;
  height: 100%;
}

.item-title {
  position: absolute;
  left: 10px;
  top: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .transition(color @itemAnimationTime);
}

.item-source {
  position: absolute;
  top: 8px;
  right: 40px;
  text-align: right;
}

.item-description {
  position: absolute;
  left: 10px;
  top: 35px;
  right: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  opacity: 0;
  .transition(opacity @itemAnimationTime);
}

.item-time {
  position: absolute;
  top: 35px;
  right: 10px;
  font-style: italic;
  opacity: 0;
  .transition(opacity @itemAnimationTime);
}

.item-link-container {
  text-decoration: underline;
}

.item-link {
  color: #ddd;

  &:hover {
    color: white;
  }
}

.item-icon {
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 6px;
  .transition(color @itemAnimationTime);
}

.item-type-document .item-icon {
  background-color: hsl(220, 60%, 40%);
}

.item-type-website .item-icon {
  background-color: hsl(10, 60%, 40%);
  padding-top: 1px;
}

.item-type-repository .item-icon {
  background-color: hsl(110, 60%, 40%);
}

.item-type-music .item-icon {
  background-color: hsl(270, 60%, 40%);
  padding-right: 2px;
}

// Selected item container

.selected-item-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

// Item transformations

.menu-container:not(.menu-container-animated) .menu-item-container:hover,
.selected-item-container-active {
  height: 65px;

  .item {
    .item-title, .item-icon {
      color: white;
    }

    .item-description, .item-time {
      opacity: 1;
    }

    &.item-type-document {
      background-color: hsl(220, 60%, 40%);
    }

    &.item-type-website {
      background-color: hsl(10, 60%, 40%);
    }

    &.item-type-repository {
      background-color: hsl(110, 60%, 40%);
    }

    &.item-type-music {
      background-color: hsl(270, 60%, 40%);
    }
  }
}

.selected-item-container {
  .item {
    z-index: 40;
    .transform(translateZ(3px));
    height: 65px;
  }

  .item-back {
    opacity: 1;
  }

  .item-select-start {
    position: fixed;
    .transform(rotate(1deg) translateZ(3px));

    .item-back {
      opacity: 0;
    }
  }

  .item-select-middle {
    position: fixed;

    // left, right, top, height, transform
    .transition(all @itemSelectMiddleTime cubic-bezier(0.175, 0.885, 0.320, 1.275)) !important; /* easeOutBack */
  }
}

.selected-item-container-deselect-start {//.item {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  .transform(translateZ(2px));
  z-index: 40;
}

.selected-item-container-deselect-middle {//.item {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  .transform(translateZ(2px));
  z-index: 40;

  .item {
    height: 36px;
    .transform(rotate(1deg) translateZ(3px));

    // left, right, top, height, transform, background-color
    .transition(all @itemDeselectMiddleTime);

    .item-back {
      opacity: 0;
    }
  }
}

// Content

.content-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  z-index: 30;
  .transform(translate3d(0, 0, 1px));
  visibility: hidden;
}

.content-container-animated {
  .transition(opacity @contentFadeInTime ease @contentFadeInDelay);
}

.content-container-fixed {
  position: fixed;
}

.content-container-move-right {
  .transition(all @menuMoveTime); // transform
  .transform(translate3d(100%, 0, 1px));
}

iframe.content-iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0;
}

.content-container-visible iframe.content-iframe {
  opacity: 1;
}

// Body loading
.body-loading {
  .content-container, .selected-item-container, .menu-container {
    visibility: hidden;
  }

  .menu-item-container {
    transition: none;
  }
}


/// Social icons

.menu-social-container {
  position: relative;
  padding: 50px 0;
  text-align: right;
}

.menu-social {
  position: relative;
  display: inline-block;
  line-height: 24px;
  .transform(rotate(1deg) translateZ(1px));
  visibility: hidden;
}

.menu-social-item {
  display: inline-block;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  visibility: visible;

  a {
    font-size: 24px;
    padding: 5px;
    color: #ccc;
    background: #333;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 35px;
    outline: 1px solid transparent; // http://stackoverflow.com/questions/9235342/3d-css-transform-jagged-edges-in-firefox

    .transition(all @itemAnimationTime); // color, background

    &:hover {
      color: white;
      background: #555;
    }

    i {
      vertical-align: middle;
    }
  }
}

.menu-social-header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -35px;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  visibility: visible;

  font-size: @menuGroupHeaderFontSize;
  .transform(rotate(0deg) translateZ(1px));
  .transition(all @itemAnimationTime);
}

.menu-social:hover .menu-social-header {
  .transform(rotate(-1deg translateZ(1px)));
  font-size: 2em;
}

.menu-social:hover .menu-social-header:hover {
  .transform(rotate(0deg) translateZ(1px));
  font-size: @menuGroupHeaderFontSize;
}

.floating-satellite() {
  from {.transform(translate3d(0, 0px, 1px));}
  50% { .transform(translate3d(0, 5px, 1px));}
  to {  .transform(translate3d(0, 0px, 1px));}
}

@-webkit-keyframes floating-satellite { .floating-satellite(); }
@-moz-keyframes floating-satellite { .floating-satellite(); }
@-ms-keyframes floating-satellite { .floating-satellite(); }
@-o-keyframes floating-satellite { .floating-satellite(); }
@keyframes floating-satellite { .floating-satellite(); }

.menu-social-satellite-container {
  position: absolute;
  left: 250px;
  top: -20px;
  width: 136px;
  height: 136px;

  .animation(floating-satellite 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite); /* easeInOutSine */
}

.rotating-satellite() {
  from {.transform(rotate(-20deg));}
  50% { .transform(rotate(10deg));}
  to {  .transform(rotate(-20deg));}
}

@-webkit-keyframes rotating-satellite { .rotating-satellite(); }
@-moz-keyframes rotating-satellite { .rotating-satellite(); }
@-ms-keyframes rotating-satellite { .rotating-satellite(); }
@-o-keyframes rotating-satellite { .rotating-satellite(); }
@keyframes rotating-satellite { .rotating-satellite(); }

.menu-social-satellite {
  position: absolute;
  left: 0;
  top: 0;
  width: 136px;
  height: 136px;
  background: url(satellite.png);

  .animation(rotating-satellite 60s ease infinite);
}

.rotating-satellite-dish() {
  from {.transform(rotate(50deg));}
  50% { .transform(rotate(15deg));}
  to {  .transform(rotate(50deg));}
}

@-webkit-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-moz-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-ms-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@-o-keyframes rotating-satellite-dish { .rotating-satellite-dish(); }
@keyframes rotating-satellite-dish { .rotating-satellite-dish(); }


.menu-social-satellite-dish {
  position: absolute;
  left: 68px;
  top: 55px;
  width: 60px;
  height: 60px;
  background: url(dish.png);

  .animation(rotating-satellite-dish 20s linear infinite);
}











/// OLD ///


// http://www.shutterstock.com/pic-61473358/stock-vector-space-ufo-and-aliens-icons-set.html?src=GgYPkTXprvcSojMaB0WlyA-1-13
// http://www.shutterstock.com/pic-100674580/stock-vector-space-icon-set.html?src=GgYPkTXprvcSojMaB0WlyA-1-0
// http://www.shutterstock.com/pic-56676043/stock-vector-set-of-vector-icons-air-transport-flying-machines-and-space.html?src=GgYPkTXprvcSojMaB0WlyA-1-10

.star-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIwSURBVDjLlZLNS5RRFMafe9/3vjPOjI1jaKKEVH40tGgRBWEibfoPQoKkVdtoEQQF4T/QqkVtWrSTFrVsF1FgJbWpIAh1k2PNh+PrfL4f95zTQk0HHKkDD/cc7vP8uHCuEhF0q/KnmXNgGR248PZFN4/GISXMC8L89DBPV0Dp4/SsazJjrtfb9/vdxfn/BgjzY5M8Aq8nBya+V3h93vtnQHFxat4kszntJAAAxus1YvnZQV5V/jyTEZarwnwFLGeFZdT0ZFOJdD84qoCDOpQ7grZfRNj020JSEOKvwvxGiF+q0tL0N5PuO+Mk0nC0B0BDsYCCImyzAIktBBloMwKJLSgKYcMAcdhC2KpVlIig+H5qxcv0n0xmj4Gbq+BwC2wtJLbgHUlMEFJwUpMIGpto16u+kJzSACAk+WCzvNbe+AVljkOYIcQQou3TbvdOJo+g4aNdqzaF+PT43HJVA8DQpcVIiPPtaqlEUQzlDELsTpgYwgTAQIjQqlUCtpQfn1spdmxh+PJSQyw9CrbKgM7tvcISQAxlBhC3GuCYXk3cWP25m3M7dk88qbWBRDVApaATOSjPBdXXwYEP5QyCgvjE/kwHgInHtHYBnYA2owhrPiiuw0sOw3EZFEagIB7qChDiYaUcNIoFtP1KxCTPhWiDw7WbXk9vKpnOgsI4exjg6Mbq96YQPxm79uPOvqvbXx4O3KrF6w8osv2df17kr5YXJq7vnw/S0v3k7Ie7xtud/wAaRnP+Cw8iKQAAAABJRU5ErkJggg==);
}
