.transform(@string) {
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
  transform:         @string;
}

.transition(@string) {
  -webkit-transition: @string;
  -moz-transition:    @string;
  -ms-transition:     @string;
  -o-transition:      @string;
  transition:         @string;
}

.animation(@string) {
  -webkit-animation: @string;
  -moz-animation:    @string;
  -ms-animation:     @string;
  -o-animation:      @string;
  animation:         @string;
}

.animation2(@string, @string2) {
  -webkit-animation: @string, @string2;
  -moz-animation:    @string, @string2;
  -ms-animation:     @string, @string2;
  -o-animation:      @string, @string2;
  animation:         @string, @string2;
}

.animation-play-state(@string) {
  -webkit-animation-play-state: @string;
  -moz-animation-play-state:    @string;
  -ms-animation-play-state:     @string;
  -o-animation-play-state:      @string;
  animation-play-state:         @string;
}
