BODY{background-color:#000000; color:#FFFF00; font:="Tahoma";}
P{color:#FFFF00; font:="Tahoma";}
PRE{color:#FFFFFF; font:="Tahoma";}
A{color:#FFFF00; font:="Tahoma";}
A:Visited{color:#FFFF00; font:="Tahoma";}
A:Hover{color:#FFCC00; font:="Tahoma";}